main {
  display: grid;
  background-color: #1c1c1c;
}

main.dashboard {
  grid-template: 10vh 52.5vh 30vh 7.5vh / 100%;
}
main.addRoutine {
  grid-template: repeat(2, 10vh) 55vh 15vh 10vh / 100%;
}
main.mainGoRoutine {
  grid-template: repeat(2, 7.5vh) 70vh 15vh / 100%;
}
