.itemExercise {
  background-color: #242222;
  margin: 1rem 1em;
  border-radius: 0.25rem;
  .exerciseData {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    height: 5vh;
    color: white;
    svg {
      cursor: pointer;
    }
  }
  .exerciseGridName,
  .serie {
    display: grid;
    place-items: center;
  }

  .back {
    padding: 0.25em;
    color: white;
    background: linear-gradient(to bottom, #242222 0%, #1d1c1c 100%);
    .exerciseGridName {
      padding: 0.5rem 0;
      .repsName {
        grid-area: 1 / 3 / 2 / 4;
      }
    }
    .serie {
      padding: 0.5rem 0;
      .nameSerie {
        justify-self: start;
      }
      .nSerie {
        place-self: center;
        background-color: #3f3f3f;
        padding: 0.75em 1em;
        border-radius: 0.25em;
      }
      .repsInput {
        background-color: #3f3f3f;
        border: 0;
        border-radius: 0.25em;
        width: 60%;
        height: 90%;
        color: white;
        text-align: center;
        grid-area: 1 / 3 / 2 / 4;
        &:focus {
          outline: none;
        }
        &::-webkit-inner-spin-button,
        ::-webkit-outer-spin-button {
          -webkit-appearance: none;
        }
      }
      .deleteSerie {
        grid-area: 1 / 4 / 2 / 5;
        padding: 0;
        width: 90%;
        height: 80%;
        background-color: transparent;
        border: 0;
        svg {
          cursor: pointer;
          width: 1.25em;
          height: 1.25em;
          color: white;
        }
      }
    }
    .serie.completed {
      opacity: 15%;
    }
  }
  .divAddSerie {
    height: 6vh;
    button {
      height: 4vh;
      margin: 1vh 5%;
      width: 90%;
    }
  }
}
