.addSomething.addRoutine {
  display: grid;
  grid-template: repeat(2, 1fr) / 100%;
  .functions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 0.75rem;
    }
  }
  .titleAddSomething {
    align-self: center;
  }
}

.addSomething.addFolder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addSomething.addFolder,
.addSomething.addRoutine {
  color: white;
  font-weight: lighter;
  padding: 0 1rem;
  h2 {
    font-weight: normal;
    font-size: 1rem;
  }
  button {
    padding: 0.3rem 2rem;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: white;
      color: black;
      box-shadow: 1px 1px 7px rgba(255, 255, 255, 0.5);
      transition: 0.5s;
    }
  }
}
